<!-- <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li> -->

<li>
  <p>{{heading}}</p>
  <p>{{review.content}}</p>
</li>

<button class="btn btn-danger" {{action 'delete' review}}>Delete Review</button>
